// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com
$noise-bg: image-url('noise.png') top left;


$main-bg: #f0eee0;
$title-color: #f2f2f2;
$text-color-light: darken($main-bg, 35);
$header-bg: #333;
$nav-bg: #83b2b4;
$nav-bg-back: $nav-bg;
$nav-link-bg: $nav-bg;
$nav-link-bg-hover: darken($nav-bg, 10);
$nav-color: black;
$nav-border: none;
$nav-border-top: none;
$nav-border-bottom: none;
$nav-border-left: none;
$nav-border-right: none;
$nav-color-hover: lighten($main-bg, 20);

$footer-bg: $nav-bg;
$footer-color: darken($footer-bg, 30);

$sidebar-bg: darken($main-bg, 10);


//$header-bg: #263347;
//$subtitle-color: lighten($header-bg, 58);
//$nav-bg: desaturate(lighten(#8fc17a, 18), 5);
//$nav-bg-front: image-url('noise.png');
//$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));
//$sidebar-bg: desaturate(#eceff5, 8);
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);
//$footer-bg: #ccc !default;
//$footer-bg-front: image-url('noise.png');
//$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));


/* To use the light Solarized highlighting theme uncomment the following line */
//$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
//$base03:          #002b36; //darkest blue
//$base02:          #073642; //dark blue
//$base01:          #586e75; //darkest gray
//$base00:          #657b83; //dark gray
//$base0:           #839496; //medium gray
//$base1:           #93a1a1; //medium light gray
//$base2:           #eee8d5; //cream
//$base3:           #fdf6e3; //white
//$solar-yellow:    #b58900;
//$solar-orange:    #cb4b16;
//$solar-red:       #dc322f;
//$solar-magenta:   #d33682;
//$solar-violet:    #6c71c4;
//$solar-blue:      #268bd2;
//$solar-cyan:      #2aa198;
//$solar-green:     #859900;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
