// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > nav {
	box-shadow: 0px 3px 3px rgba(0, 0, 0, .4);
	border: none;
	border-bottom: none;
	z-index: 1;
}

nav .main-navigation, nav ul.secondary-navigation {
	top: 0;
	margin: 0;
	a
	{
		border-radius: 3px;
		background: $nav-link-bg;
		padding: 0 1em !important;
	}

	a:hover {
		background: $nav-link-bg-hover;
		@include transition(background-color .5s);
    	text-shadow: lighten($nav-link-bg-hover, 12) 0 1px;
	}
}

body > header {
	h1, h2 {
		text-transform: uppercase;
	}

	h1 {
		font-size: 1.5em;
		margin-left: 1em;

		span {
			font-size: 14pt;
			color: $subtitle-color;
			padding: 0em !important;
			line-height: 14pt;

		}
	}

	h2 {
		font-size: 14pt;
		line-height: 14pt;
	}

	#header-name {
		float: none;
	}
}

.footnotes {
  font-size: 14px;
  line-height: 16px;
  color: #555;

  p {
    margin-bottom: 6px;
  }
}


#content .blog-index article, article {
	h1 {
		font-size: 1.3em;
		margin: 0;
		padding: 0;
  	}
	h2 {
		font-size: 1.1em;
  	}
	h3 {
		font-size: 1.0em;
  	}

}



$header-font-size: 1em;
$header-padding-top: 1em;
$header-padding-bottom: 1em;
